:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.file-uploads {
  flex: 1;
  margin: 1.6rem;
  display: flex;
  flex-direction: column;

  > * {
    flex: 1
  }
}

.file-uploads label {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;

}

.url-upload {
  margin: 1.6rem 1.6rem 0 1.6rem;

  display: flex;
  flex-direction: row;

  align-items: center;

  md-input-container {
    flex: 1;
  }

  .submits {
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 1.6rem;
  }
}

img {
  max-width: 100%;
}
