<form #urlForm="ngForm"
      (submit)="urlForm.form.valid && uploadUrl()"
      *ngIf="!uploadedFiles.length"
      class="url-upload">
  <md-input-container class="input-block">
    <input mdInput
           type="url"
           [(ngModel)]="selectedUrl"
           [placeholder]="'URL изображения' | translate"
           required
           url
           name="url">
  </md-input-container>

  <div class="submits">
    <button md-raised-button
            [disabled]="!urlForm.form.valid"
            color="primary">
      <span translate>Загрузить</span>
    </button>
  </div>
</form>
<div class="drop-area"
     *ngIf="!uploadedFiles.length">
  <div class="drop-area-message" translate>Отпустите файл, чтобы загрузить
  </div>
</div>
<div *ngIf="!uploader.queue.length && !uploadedFiles.length"
     class="file-uploads"
     [class.drop-active]="hasBaseDropZoneOver"
     (fileOver)="fileOverBase($event)"
     ng2FileDrop
     [uploader]="uploader">
  <label>
    <span class="flex-fill"></span>
    <input type="file"
           ng2FileSelect
           [uploader]="uploader"/>
    <div class="block">
      <md-icon>file_upload</md-icon>
    </div>
    <div
        translate>Выберите изображение или перетащите его в это окно.
    </div>
    <span class="flex-fill"></span>
  </label>
</div>
<div class="centered" *ngIf="uploader.queue.length && !uploadedFiles.length">
  <div>
    <img [src]="fileUrl"/>
  </div>
  <button md-raised-button
          color="primary"
          (click)="upload()">
    <span translate>Загрузить</span>
  </button>
  <button md-raised-button
          color="warn"
          (click)="cancelUpload()">
    <span translate>Выбрать другое изображение</span>
  </button>
</div>
<div *ngIf="uploadedFiles.length"
     class="file-uploads centered">
  <div class="flex-fill"></div>
  <div translate>Изображение успешно обработано!</div>
  <md-list>
    <md-list-item *ngFor="let file of uploadedFiles">
      <h4 md-line>
        <a [href]="getUrl(file.url)"
          target="_blank">{{file.size}}</a>
      </h4>
    </md-list-item>
  </md-list>
  <div class="flex-fill"></div>
</div>
