@import 'variables';
@import '~@angular/material/theming';

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

@import './core/material';
@import './core/layout';
@import './core/base';
@import './core/uploader';

@import './lib/notifications';

html {
  font-size: 10px;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin: 0;
}

// App
cc-app, .cc-app {
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.cc-app-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin: 0;

  .side-nav-container, md-sidenav-container {
    flex: 1 1 auto;
  }

  .side-nav-container {
    display: flex;
    flex-direction: column;
  }

  .mat-drawer-content {
    position: absolute;
    left: 0;
    right: 0;
    transform: none!important;
  }
}

a, a:visited {
  text-decoration: none;
}

.content {
  margin: 1.6rem;
}
