.file-uploads {
  display: block;
  position: relative;

  border: 2px #ccc dashed;
  border-radius: 1rem;

  label {
    @extend .pad;

    display: block;
    text-align: center;
    color: rgba(0,0,0,.38);

    md-icon {
      font-size: 64px;
      height: 64px;
      width: 64px;
    }
  }

  input[type=file] {
    opacity: 0;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    position: absolute;
  }
}

.file-uploads.drop-active {
  border: 2px $primary-lower dashed;
}

.drop-area {
  display: none;
}

.drop-area-message {
  position: absolute;
  top: 50%;
  width: 100%;

  transform: translate(0, -50%);

  font-size: 3.2rem;
  text-align: center;
  color: white;
}

.drop-area.drop-active {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;

  background: rgba(0,0,0, .5);
}
